body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat; 

    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;

    display: fixed;

    background-image: url('./assets/sky.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
}

.dir{
    width: 10vw;

    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dir > img{
    width: 60%;
}
.dir > span{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#dragElement1, #dragElement2, #dragElement3  {
    cursor: grab;
    user-drag: element;
    user-select: none;
    position: absolute;
    z-index: 1;
}

/* #dragElement1:active, #dragElement2:active, #dragElement3:active {
    cursor: grabbing;
} */

#dragElement1{
    top: 400px;
    left: 250px;
}

#dragElement2{
    top: 100px;
    left: 650px;
}

#dragElement3{
    top: 550px;
    left: 1200px
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

/* Aggiungi altri stili CSS se necessario */
